body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: fixed;
    margin: auto;
    width: 960px;
    padding: 50px;
    height: 100vh;

}

.topbox {
    background: #ffffff;
    line-height: 39px;
    left: 25px;
    top: 25px;
    border: #cccccc;
    
}

.bigbox {
    padding: 20px;
    background: white;
    border-color: solid white 2px;
    width: 270px;
    height: 600px;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 20px;
}

h2 {
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: solid grey 2px;
}

#pic {
    width: 260px;
    height: 260px;
    margin: 5px 10px 5px 3px;
    margin: 10px;
}
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 2px;

}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5
}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5
}

